In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
from collections import Counter
from nltk.stem import SnowballStemmer

In [30]:
dir = 'C:/Users/Rodrigo/dados/'
stemmer = SnowballStemmer("english")

In [ ]:
consolidated = pd.read_csv(dir+'consolidated.txt',delimiter=';',names=['id','approved','group','stem','number'])
consolidated_text = pd.read_csv(dir+'consolidated_text.txt',delimiter=';',names=['id','approved','group','stem'])

In [4]:
consolidated.tail()

               id  approved              group     stem  number
24046600  p190772         1  Literacy_Language       it       1
24046601  p190772         1  Literacy_Language     hope       1
24046602  p190772         1  Literacy_Language     also       1
24046603  p190772         1  Literacy_Language  lifetim       1
24046604  p190772         1  Literacy_Language  learner       1

In [5]:
consolidated_text.tail()

,id,approved,group,stem
182075,p014188,1,Math_Science,i current teach math in a lowincom school wher...
182076,p116452,1,Music_The_Arts,my student are predomin hispan and often have ...
182077,p074761,0,Math_Science,i teach scienc to eighth grader at a suburban ...
182078,p136737,1,Literacy_Language,i work with a group of wonder second grade stu...
182079,p190772,1,Literacy_Language,balanc literaci was a mysteri to me until a co...

In [7]:
consolidated.groupby('stem').count().sort_values(ascending = False)

TypeError: sort_values() missing 1 required positional argument: 'by'

In [24]:
consolidated.groupby(['group', 'stem'])['stem'].count().sort_values(ascending = False)

group               stem
Literacy_Language   to                    75822
                    and                   75780
                    the                   75602
                    student               75444
                    a                     75176
                    of                    74931
                    in                    74837
                    are                   73254
                    my                    71309
                    they                  69487
                    their                 69395
                    have                  68845
                    for                   68674
                    is                    67378
                    will                  67179
                    with                  66996
                    that                  65726
                    learn                 65647
                    be                    65200
                    school                64232
                    i                     63185
                    them                  58529
                    our                   58377
                    classroom             56130
                    on                    53876
                    this                  51764
                    as                    51502
                    we                    50952
                    help                  49107
                    read                  49044
                                          ...
                    exameach                  1
                    exama                     1
Math_Science        picturesth                1
                    picturesthi               1
Literacy_Language   exacto                    1
Math_Science        picturestori              1
                    picturesvideosvisu        1
                    pictureshav               1
Literacy_Language   examplesmi                1
                    examplesstori             1
Math_Science        pictureour                1
                    pictor                    1
Literacy_Language   exand                     1
                    examto                    1
                    examthey                  1
Math_Science        picturedi                 1
Literacy_Language   examth                    1
                    examsw                    1
                    examsthank                1
                    examsour                  1
Math_Science        picturesdiagram           1
Literacy_Language   examsmani                 1
Math_Science        picturesbrainstorm        1
Literacy_Language   examsand                  1
                    examplifi                 1
                    examplewhat               1
                    examplethrough            1
                    examplethes               1
                    examplesthi               1
Warmth_Care_Hunger  zoom                      1
Name: stem, Length: 314202, dtype: int64

In [11]:
new_consolidated = consolidated.groupby(['group', 'stem'])['stem'].count().sort_values(ascending = False)

In [14]:
new_consolidated

group               stem
Literacy_Language   to                    75822
                    and                   75780
                    the                   75602
                    student               75444
                    a                     75176
                    of                    74931
                    in                    74837
                    are                   73254
                    my                    71309
                    they                  69487
                    their                 69395
                    have                  68845
                    for                   68674
                    is                    67378
                    will                  67179
                    with                  66996
                    that                  65726
                    learn                 65647
                    be                    65200
                    school                64232
                    i                     63185
                    them                  58529
                    our                   58377
                    classroom             56130
                    on                    53876
                    this                  51764
                    as                    51502
                    we                    50952
                    help                  49107
                    read                  49044
                                          ...
                    exameach                  1
                    exama                     1
Math_Science        picturesth                1
                    picturesthi               1
Literacy_Language   exacto                    1
Math_Science        picturestori              1
                    picturesvideosvisu        1
                    pictureshav               1
Literacy_Language   examplesmi                1
                    examplesstori             1
Math_Science        pictureour                1
                    pictor                    1
Literacy_Language   exand                     1
                    examto                    1
                    examthey                  1
Math_Science        picturedi                 1
Literacy_Language   examth                    1
                    examsw                    1
                    examsthank                1
                    examsour                  1
Math_Science        picturesdiagram           1
Literacy_Language   examsmani                 1
Math_Science        picturesbrainstorm        1
Literacy_Language   examsand                  1
                    examplifi                 1
                    examplewhat               1
                    examplethrough            1
                    examplethes               1
                    examplesthi               1
Warmth_Care_Hunger  zoom                      1
Name: stem, Length: 314202, dtype: int64

In [16]:
new_consolidated1.drop

NameError: name 'new_consolidated1' is not defined

In [26]:
groups = []
for x in consolidated.groupby('group')['group'].head(1):
    if x not in groups: groups.append(x)
groups

['Literacy_Language',
 'Music_The_Arts',
 'Math_Science',
 'Health_Sports',
 'Applied_Learning',
 'Special_Needs',
 'History_Civics',
 'Warmth_Care_Hunger']

In [28]:
for group  in groups:
    print(group)
    rod1 = consolidated[consolidated.group == group]
    rod2 = consolidated_text[consolidated_text.group == group]
    rod1.to_csv(dir+'palavra_'+group+'.csv')
    rod2.to_csv(dir+'texto_'+group+'.csv')

Literacy_Language
Music_The_Arts
Math_Science
Health_Sports
Applied_Learning
Special_Needs
History_Civics
Warmth_Care_Hunger